<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>iscaeEudiants || MPIAG</title>


</head>

<body>

  {% include "hospital/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Envoyez-nous vos précieux commentaires!</h3>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <input type="submit" value="Envoyez le message" class='btn btn-success btn-lg'>
      </div>
    </form>
    <br>
  </center>
  {% include "hospital/footer.html" %}
</body>
</html>
